<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Manage Articles</h1>
    <%= link_to "New article", new_admin_article_path, class: "btn btn-primary" %>
  </div>

  <!-- Content Row -->
  <div class="row">
      <div class="col-md-12">
          <div class="card">
              <div class="table-responsive">
                  <table class="table no-wrap user-table mb-0">
                    <thead>
                      <tr>
                        <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">Title</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">Author</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">Description</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">Created at</th>
                        <th scope="col" class="border-0 text-uppercase font-medium">Manage</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% index = 0 %>
                      <% for article in @articles %>
                        <% index += 1 %>
                        <%= render article, index: index %>
                      <% end %>
                    </tbody>
                  </table>
                  <div class = "pagination-wrapper float-right m-2">
                    <%= paginate @articles %>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
